	<div class="chat-container" #scrollMe> 
		<div class="message-container" *ngFor="let chat of chats"> 
          @if (chat.talker == userId) {
            <div class="message receiver-message"> 
				{{chat.message}}
			</div> 
          }
          @if (chat.talker != userId) {
			<div class="message sender-message"> 
				{{chat.message}}
			</div> 
          }
		</div> 

		<div class="message" style="position: fixed; bottom: 0;"> 
            <form (submit)="onClickSend(messageForm)" #messageForm="ngForm">
                <input type="text"
				placeholder="메시지를 입력하세요..." 
                name="message"
                ngModel
                #message="ngModel"> 
			<button type="submit">전송</button> 
            </form>
			
          @if (ownerId == userId) {
			<button (click)="onDeleteRoom()" id="delete">대화방 삭제</button> 
          }
		</div> 
	</div> 
